@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

$Text-color: #fff ;
$BlueBG-color: #03a9f4;
$MyBlackColor: #111;
$text: 'Poppins', sans-serif;

.navbar {
    background-color: $BlueBG-color;
}


body {
    background-color: $Text-color;
}








/*footer*/

.Copyright {
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .fa-brands {
    margin: 12px;
  }
  
  footer {
    font-family: $text;
    background-color: $Text-color;
  }
  
  
  .fa-envelope {
    color: rgb(189, 189, 10);
  }
  
  .fa-facebook-messenger {
    color: $BlueBG-color;
  } 
  
  .fa-phone {
    color:red;
  }
  
  a {
    color: $MyBlackColor
  }
  
  /*footer*/
